
  @font-face {
   font-family: 'Caveat';
   src: local('Caveat'), url(../fonts/Caveat-Bold.ttf) format('truetype');
 }

html, body {
   /* height: 100vh; */
   height:100vh;
   margin: 0;
   font-family: Caveat;
   overflow-x: hidden;
  }
  

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}


